/*checkbox*/
.rt-th-checkbox{cursor:default;min-width:36px;width:36px}
.rt-checkboxWrapper{display:inline-block;position:relative;}
.rt-checkboxWrapper:before{content:'';background-color:#FFFFFF;border:1px solid #B2B2B2;border-radius:2px;width:16px;height:16px;display:inline-block;position:relative;top:2px}
.rt-checkboxWrapper.checked:after{content:'';border:solid #333333;border-width:0 0 2px 2px !important;height:5px;width:9px;margin:8px 0 0 4px;position:absolute;left:0;top:2px;transform:rotate(-45deg);-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg); }
.rt-checkboxWrapper>.rt-checkbox,.rt-checkboxWrapper>.rt-checkbox-th{display:none}

.rt-node>.rt-checkboxWrapper{margin-right:4px;}
.rt-node>.rt-checkboxWrapper.checked:after{margin:5px 0px 0px 4px;}